<h3 class="title-rev">Your reviews</h3>
<div class="container-reviews">
{{#each showAll}}

<p>Game: {{name}}</p>
<p>Score: {{score}}</p>
<p>Status: {{status}}</p>
<p>Comment: {{comment}}</p>
<form action="/auth/{{id}}/delete" method="POST">
      <button>Delete</button>
    </form>

{{/each}}
</div>