<h3 class="title-rev">Your Games</h3>
<div class="container-reviews">
{{#each showAll}}

<p>Game: {{name}}</p>
<p>Score: {{score}}</p>
<p>Status: {{status}}</p>
<p>Comment: {{comment}}</p>
<form action="/auth/{{id}}/delete" method="POST">
<<<<<<< HEAD
      <button>Delete</button>
    </form>

=======
<button>Delete</button>
</form>
>>>>>>> 734aa1881236d1837599a6a1043664403bbf0770
{{/each}}
</div>