
<h3 class="game-title">TITULO: <p>{{data.name}}</p></h3>
<div class="container">
    <div> 
        <img src="{{data.background_image}}" alt="portada" width="500px" height="400px">
    </div>
    <div class="data-game">
        <h4>Nota del juego: {{data.rating}}</h4>
        <p></p>

        <h4>Descripcion: </h4>
        <p>{{data.description_raw}}</p>
        <h4>Release: {{data.released}}</h4>
        <p></p>

            <button><a href="/games/edit/{{data.id}}">Add to favourite</a></button>
</div>


