<h2>List of Games</h2>
<div class="container-games">
{{#each data}}
    <div class="oneGame">
     <img src="{{background_image}}" alt="img" width="400px" height="225px">
     <div class="anco-game">
         <a href="/games/game-details/{{this.id}}"><p>{{this.name}}</p></a>
     </div>
     
    </div>
    
{{/each}}

{{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}!!!</p>
{{/if}}

<form action="/games/game-list/{{pageNum}}">
    <button>Next page</button>
</form>


</div>