
<h3 class="game-title"><p>{{gameData.name}}</p></h3>
<div class="container">
    <div> 
        <img src="{{gameData.background_image}}" alt="portada" width="800px" height="450px">
    </div>
    <div class="data-game">
        <h4>Score: {{gameData.rating}}</h4>
        <p></p>

        <h4>description: </h4>
        <p>{{gameData.description_raw}}</p>
        <h4>Release: {{gameData.released}}</h4>

            <button><a href="/games/edit/{{gameData.id}}/{{gameData.name}}">Add to favourite</a></button>
</div>
<div class="container-comments">
    <h3>Coments</h3>

    
    
        {{#each allGames}}
        <h4>{{createBy.username}}</h4>
        <p>{{comment}}</p>
        {{/each}}
    
    

</div>
    

