{{!-- {{#each data}} --}}
<h1>TITULO: <p>{{data.name}}</p></h1>
<div>
    <div>
        <h4>Imagen</h4>
        
        <img src="{{data.results.background_image}}" alt="portada">

    </div>
    <div>
        <h4>Nota del juego</h4>
        <p>{{this.rating}}</p>

    </div>
    <div>
        <h4>Descripcion</h4>
        <p>{{this.description}}</p>

    </div>
    <div>
        <h4>Release</h4>
        <p>{{this.released}}</p>

    </div>
</div>

{{!-- {{/each}} --}}


